* {
    font-family: 'Open Sans', sans-serif;
    }
   html, body {
       align-items: center;
       align-content: center;
       display: flex;
       flex-direction: column;
  

   
   
    }
 

h2 {
    font-size: 16px;
  
}
.form-structor {
    color: black;
    display: flex;
    flex-direction: column;
}
.signup {
    display: flex;
    flex-direction: column;
}

.submit-btn {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
   
}
