* {
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #ececec;
}

.content {
    max-width: 500px;
    margin: 0px;
    margin-top: 27px;
    background: pink;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    line-height: 150%;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px darkgrey;
}

aside~article {
    margin: 0px 40px 40px 40px;
}

article {
    color: white;
    display: flex;
    background-color: #555;
    flex-direction: column;
    padding: 20px;
    width: auto;
    line-height: 150%;
    text-align: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px -5px black;
    margin-top: 27px;
    width: 50%;
}

.middlepart {
    padding: 20px;
    width: auto;
    line-height: 150%;
    text-align: left;
    flex-direction: column;
    display: flex;

}

img+h4 {
    text-transform: uppercase;
}

h2 {
    width: auto;
    height: 70px;
    padding: 0px;
    margin-right: auto;
    margin-left: 0;
}

.time {
    float: right;
    width: 30px;
    border: 3px solid #73AD21;
}

.bottom-part {
    float: left;
    background-color: #555;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.post-like {
    display: flex;
    justify-content: center;
    width: 44px;
    margin-top: 10px;
    padding: 4px;
    background-color: #424242;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px -4px #242424;
    transition: all 0.3s linear;
}

.post-like:hover {
    box-shadow: 6px 6px 10px -4px #242424;
}

.myimage {
    width: 30px;
}

.header-section {
    background-color: #666;
    text-align: center;
    font-size: 15px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.header-section>div {
    width: calc(100% / 2);
}

.header-section-1 {
    margin-right: auto;
    margin-left: 0;
    text-align: left;
}

.header-section-2 {
    padding-top: 7px;
    text-align: right;
}

.header-image {
    height: 27px;
    float: left;
    padding-top: 5px;
    /*padding-left: 10px;*/
    padding-bottom: 5px;
}

#form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 16px;
}

input {
    width: 40%;
}

button {
    width: 90px;
    background-color: #ececec;
}

#userIcon {
    height: 27px;
}

#postItIcon {
    height: 27px;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
}

.topbar {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 43px;
    width: 100%;
    background: #555;
}